<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> Name: <%= current_user.first_name %> <%= current_user.last_name %> </li>
    <li> Email: <%= current_user.email %> <%= "NOT ACTIVATED" if !current_user.activated %></li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <% facade.tutorials.each do |tutorial| %>
      <h5><%= tutorial.title %></h5>
      <ul>
      <% tutorial.videos.each do |video| %>
        <li><%= link_to video.title, tutorial_path(id: tutorial.id, video_id: video.id) %></li>
      <% end %>
      </ul>
    <% end %>
  </section>
  <section>
    <%= button_to 'Send Invite', invite_path, method: 'get', class: "btn btn-primary mb1 bg-teal" if current_user.token %>
  </section>
  <section>
    <h1>Friends</h1>
    <ul>
    <% current_user.friends.each do |friend| %>
      <li><%= friend.first_name %> <%= friend.last_name %></li>
    <% end %>
    </ul>
  </section>
  <section>
    <%= render partial: facade.render, locals: {facade: facade} %>
  </section>
  <section>
    <%= render partial: facade.render_follows, locals: {facade: facade} if facade.render_follows != nil %>
  </section>
</section>
