<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> Name: <%= current_user.first_name %> <%= current_user.last_name %> </li>
    <li> Email: <%= current_user.email %> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <section>
    <h3>Friends</h3>
    <ul>
    <% current_user.friends.each do |friend| %>
      <li><%= friend.first_name %> <%= friend.last_name %></li>
    <% end %>
    </ul>
  </section>
  <section>
    <%= render partial: facade.render, locals: {facade: facade} %>
  </section>
  <section>
    <%= render partial: facade.render_followers, locals: {facade: facade} if facade.render_followers != nil %>
  </section>
  <section>
    <%= render partial: facade.render_following, locals: {facade: facade} if facade.render_followers != nil %>
  </section>
</section>
